<?xml version="1.0" encoding="utf-8"?>
<!--
 /*
 * Copyright (C) 2018 Istituto Italiano di Tecnologia
 * Authors: davide.tome@iit.it
 * CopyPolicy: Released under the terms of the LGPLv2.1 or later, see LGPL.TXT
 */
-->
<iptsSettings lastSel="3" operator="tome">
  <setting testplan="0" serial="0" />
  <setting testplan="1" serial="2" />
  <setting testplan="2" serial="2" />
  <setting testplan="3" serial="1" />
  <setting testplan="4" serial="1" />
</iptsSettings>