<?xml version="1.0" encoding="utf-8"?>
<!--
 /*
 * Copyright (C) 2018 Istituto Italiano di Tecnologia
 * Authors: davide.tome@iit.it
 * CopyPolicy: Released under the terms of the LGPLv2.1 or later, see LGPL.TXT
 */
-->
<iptsSettings lastSel="9" operator="japo">
  <setting testplan="9" serial="409" />
</iptsSettings>