<?xml version="1.0" encoding="utf-8"?>
<!--
 /*
 * Copyright (C) 2025 Istituto Italiano di Tecnologia
 * Authors: davide.tome@iit.it, jacopo.losi@iit.it
 * CopyPolicy: Released under the terms of the LGPLv2.1 or later, see LGPL.TXT
 */
-->
<iptsSettings lastSel="10" operator="operator">
  <setting testplan="10" serial="74" />
</iptsSettings>